.home-banner{
    min-height: 100%;
    background-image: url("../../../images/bannerbackground.png");
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}